body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #eaf4ff;
    color: gray;
}

h1, h2 {
    color: black;
    font-weight: bold;
}

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
